* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:  #313640;
    --element-shadow: 1px 2px 3px rgba(148, 148, 148, 0.3);
    --spacing-ele-rl: 1.2rem;
    --spacing-ele-tb: 0.2rem;
    --label-font-size: 0.6rem;
    --element-border: 1px solid #aba9a9;
    --border-radius: 4px;
}

@font-face {
    font-family: 'Snarsky';
    src: url('./font/SnarskyOldStyleNarrow.ttf') format('truetype');
}

body,
html {
    height: 100%;
    width: 100%;
    display: flex;
}

.l-side{
    flex-grow: 1.6;
    background-image: url(image/bg-side.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tl-container{
    background-color: rgba(49, 54, 64, 50%);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    padding: 0.8em;
    margin-top: 6em;
}

.title{
    padding-left: 0.5em;
    font-family: 'Snarsky', sans-serif;
    letter-spacing: 0.2em;
}

.r-side{
    flex-grow: 3;
    background-color:#fff;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    justify-content: center;
    align-items: center;
}

.rs-h-text1{
    font-weight: bold;
    margin: var(--spacing-ele-rl);
    margin-top: 100px;
    font-size: 2rem;
    flex-wrap: wrap;
    text-align: center;
}

.rs-h-text2{
    margin: 0 var(--spacing-ele-rl);
    margin-bottom: 32px;
    text-align: center;
}

.form-container-header{
    
}

.form-title{
    font-weight: bold;
    margin: var(--spacing-ele-rl);
    padding-top: 1rem;
}

label{
    margin-bottom: 4px;
}

label,
button {
    font-size: var(--label-font-size);
    font-weight: bold;
    letter-spacing: 1px;
}

.form-row{
    display: flex;
}

.element{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-ele-tb) var(--spacing-ele-rl);
    margin-bottom: 1.2em;
}

input{
    padding: 0.4rem 0.5rem;
    border-radius: var(--border-radius);
    border: var(--element-border);
}

input[data-invalid="true"]{
    border-color: #7c1616;
}

input[data-password-notmatched="true"]{
    border-color: #7c1616;
}

input:focus{
    outline: var(--element-border);
    box-shadow: var(--element-shadow);
}

.form-container-footer{
    display: flex;
    margin: var(--spacing-ele-rl);
    justify-content: center;
}

button{
    padding: 0.6rem 2rem;
    background-color: #313640;
    color: whitesmoke;
    border-radius: var(--border-radius);
    border: var(--element-border);
    cursor: pointer;
}

.rs-f-text{
    margin: var(--spacing-ele-rl);
    font-weight: bold;
}

.error{
    color: #7c1616;
    margin-top: 4px;
    font-size: 0.86rem;
}

a{
    color: #313640;
}

@media (max-width:1100px) {
    body{
        flex-direction: column;
    }
    .l-side,
    .r-side{
        flex: initial;
    }
    .l-side{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
    }
    .tl-container{
        flex: 1;
        padding: 0;
        margin: 0;
    }
    .rs-h-text1{
        margin-top: 1.8rem;
    }
}